* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: none;
}

.head_index {
  padding: 10px;
  background-color: black;
}

.main_index {
  background-color: green;
  color: #e2e8f0;
}

.content {
  padding: 60px 20px;
}
.content-all {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.content-all_text h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.foot_index {
  background-image: url(../assets/images/fondo.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.pie {
  color: #ff9944;
  font-size: 25px;
  padding: 40px;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
}
.pie__rrss {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
.pie-pags li a {
  color: #ff9944;
  font-size: 25px;
  transition: all 0.3s;
}
.pie-pags li a:hover {
  color: #33ee66;
}
.pie__whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

h4 {
  color: #46adf9;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
}

.instagram:hover {
  color: #c92d8f;
}

.instagram {
  font-size: 45px;
}

.twitter {
  font-size: 45px;
}

@media (min-width: 400px) {
  .nav-bar {
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
  .nav-bar_item {
    padding-left: 15px;
    list-style-type: none;
    font-size: 19px;
  }
  .pie {
    display: grid;
  }
  header div nav ul li {
    padding: 5px;
  }
}
@media (min-width: 650px) {
  .content-all {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .pie {
    display: flex;
  }
}
.body__produc {
  background-color: black;
}

.header-produc {
  background-color: black;
  color: rgb(0, 4, 255);
}

.nav-produc {
  display: none;
  margin: 0px 10px;
}

.main-produc {
  background-color: black;
}

.remera {
  margin-top: 60px;
  padding: 0 20px;
}
.remera_description {
  color: #e2e8f0;
  text-align: center;
}
.remera-conteiner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.remera-conteiner .card-conteiner_button {
  background-color: #22c55e;
  font-weight: bold;
  padding: 10px 0;
  border-radius: 10px;
  width: 100%;
  display: block;
  text-align: center;
  transition: all 0.3s;
}
.remera-conteiner .card-conteiner img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}
.remera-conteiner .card_title {
  text-align: center;
}
.remera-conteiner .card_description {
  font-size: 17px;
}

.carousel {
  text-align: center;
  color: #e2e8f0;
}

@media (min-width: 400px) {
  .nav-produc {
    display: flex;
  }
  .remera-conteiner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 650px) {
  .remera-conteiner {
    grid-template-columns: repeat(3, 1fr);
  }
}
.bod {
  background-image: url(../assets/images/fondo.3.jpg);
}

.carousel__metod {
  color: #e2e8f0;
}

span {
  color: #111;
  line-height: 1.15;
}

.offcanvas {
  text-align: center;
  align-items: center;
}

.text {
  display: block;
  text-align: left;
  color: #111;
  padding: 28px;
  font-size: 20px;
  max-width: 1200px;
  border-radius: 10px;
}
.text__span {
  font-size: 25px;
  font-weight: bold;
}

.store {
  padding: 20px;
}

.foot {
  display: block;
  text-align: center;
  margin: 20px;
  font-size: 40px;
}
.foot__rrss {
  padding: 10px;
}
.foot__rrss .instagram {
  padding: 20px;
  padding-right: 60px;
}
