
.nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: none;
    
}

/* nav ul li:hover{
    text-shadow: 4px 3px 2px rebeccapurple;
} */

@media (min-width: 450px) {
    .nav-bar {
        display: flex;
    }
    .nav-mobile {
        display: none;
    }
    .nav-bar_item {
        padding-left: 15px;
        list-style-type: none;
        font-size: 19px;
    }
    .remera-conteiner{
        grid-template-columns: repeat(2, 1fr);
        
    }
    header div nav ul li {
        padding: 5px;
    }
    
}
@media (min-width: 650px ){
    .remera-conteiner {
        grid-template-columns: repeat(3, 1fr);
    }

}
