header {
    padding: 10px;
    background-color: aqua;
}

.nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: none;
}

nav ul li:hover{
    text-shadow: 4px 3px 2px rebeccapurple;
}
/* HEADER PRODUCTOS */
.header-produc{
    background-color: black;
    color: rgb(0, 4, 255);
    
}
.nav-produc{
    display: none;
    margin: 0px 5px;
    
}


/* Main index */

/* main {
    background-color: green;
    color: aliceblue;
}
.content {
    padding: 60px 20px;
}
.content-all {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}
.content-all_text h1{
    font-size: 50px;
    margin-bottom: 20px;
} */
/* MAIN PRODUCTOS */

.main-produc{
    background-color: black;
}
/* tarjeta */
.remera{
    margin-top: 60px;
    padding: 0 20px
}
.remera-conteiner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}
.card-conteiner img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}
.card_title{
    text-align: center;
}
.remera_description {
    color: blueviolet;
    text-align: center;
    
}
/* Footer INDEX */
/* footer{
    background-image: url(../assets/images/fondo.jpg);
    height: 235px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} */


@media (min-width: 450px) {
    .nav-bar {
        display: flex;
    }
    .nav-mobile {
        display: none;
    }
    .nav-bar_item {
        padding-left: 15px;
        list-style-type: none;
        font-size: 19px;
    }
    /* .content-all {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    } */
    /* .pie{
        color: antiquewhite;
        font-size: 20px;
        padding: 10px;
    } */
    .nav-produc {
        display: flex;
    }
    .remera-conteiner{
        grid-template-columns: repeat(2, 1fr);
        
    }
    header div nav ul li {
        padding: 5px;
    }
    
    
}
@media (min-width: 650px ){
    .remera-conteiner {
        grid-template-columns: repeat(3, 1fr);
    }
    /* .content-all {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    } */
}
