.head_index {
    padding: 10px;
    background-color: aqua;
}
.main_index {
    background-color: green;
    color: $fontlight;
}
.content {
    padding: 60px 20px;
        &-all {
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 50px;
        
            &_text h1{
                font-size: 50px;
                margin-bottom: 20px;
        }
    }
}    

@media (min-width: $bpMedium) {
    .content-all{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .pie{
        color: $fontlight;
        font-size: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &-pag{
            padding: 20px 0px;
        }
        &-pags {
            li {
                margin: 10px 0;
        
                a {
                    color: $fontlight;
                    transition: $transition;
        
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
    }

}

.foot_index{
    background-image: url(../assets/images/fondo.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} 

.pie{
    color: $fontlight;
    font-size: 20px;
    padding: 20px;
    &__rrss{
        @include templateFlex(row, space-evenly, false);
            margin-top: 30px;
    }
}

h4 {
    color: $green;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px
}

.instagram:hover {
    color: #c92d8f;
}