
main {
    background-color: green;
    color: $fontlight;
}
.content {
    padding: 60px 20px;
        &-all {
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 50px;
        
            &_text h1{
                font-size: 50px;
                margin-bottom: 20px;
        }
    }
}    

@media (min-width: $bpMedium) {
    .content-all{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

}

footer{
    background-image: url(../assets/images/fondo.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} 

.pie{
    color: $fontlight;
    font-size: 20px;
    padding: 10px;
    &-pag{
        padding: 20px 0px;
        text-align: center;
    }
}

h4 {
    color: $green;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px
}
.pie-pags {
    li {
        margin: 10px 0;

        a {
            color: $fontlight;
            transition: $transition;

            &:hover {
                color: $green;
            }
        }
    }
}