.head_index {
    padding: 10px;
    background-color: black;
}
.main_index {
    background-color: green;
    color: $fontlight;
}
.content {
    padding: 60px 20px;
        &-all {
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 50px;
        
            &_text h1{
                font-size: 50px;
                margin-bottom: 20px;
        }
    }
}    

.foot_index{
    background-image: url(../assets/images/fondo.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} 

.pie{
    color: $apricot;
    font-size: 25px;
    padding: 40px;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    &__rrss{
        @include templateFlex(row, space-evenly, false);
            margin-top: 30px;
    }
    &-pags {
        li a {
            color: $apricot;
            font-size: 25px;
            transition: $transition;
            &:hover {
                color: $acid;
            }
        }
            
    }
    &__whatsapp {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}

h4 {
    color: #46adf9;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px
}

.instagram:hover {
    color: #c92d8f;
}
.instagram {
    font-size: $width;
}
.twitter {
    font-size: $width;
}


@media (min-width: $bpSmall) {
    .nav-bar {
        display: flex;
    }
    .nav-mobile {
        display: none;
    }
    .nav-bar_item {
        padding-left: 15px;
        list-style-type: none;
        font-size: 19px;
    }
    .pie {
        display: grid;
    }
    
    header div nav ul li {
        padding: 5px;
    }
}
@media (min-width: $bpMedium) {
    .content-all{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .pie {
        display: flex;
    }
}
