
.bod{
    background-image: url(../assets/images/fondo.3.jpg);
}
.carousel__metod {
    color: $fontlight;
}
span {
    color: #111;
    line-height: 1.15;
}
.offcanvas {

    text-align: center;
    align-items: center;

}
.text {
    display: block;
    text-align: left;
    color: #111;
    padding: 28px;
    font-size: 20px;
    max-width: 1200px;
    border-radius: 10px;
    &__span {
        font-size: 25px;
        font-weight: bold
    }

}
.store {
    padding: 20px;
}
.foot{
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 40px;
    &__rrss {
        padding: 10px;
        .instagram{
            padding: 20px;
            padding-right: 60px;
        }
    }
}
