// colores
$fontlight: #e2e8f0;
$green: #22c55e;
$apricot: #ff9944;
$acid: #33ee66;

// breackpoint
$bpSmall: 400px;
$bpMedium: 650px;

// default
$transition: all 0.3s;
$boxShadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
$width: 45px;
